<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Journey Track | Redefinir senha</title>
  </head>

  <body>
    <table>
      <tr>
        <td>
          <h1>Olá, {{.UserName}}!</h1>
          <p>Parece que você está tendo problemas com a senha da sua conta.</p>
          <p>Como você pediu, estamos disponibilizando o link abaixo para que você possa redefinir sua senha.</p>
          <a href="{{.PasswordResetLink}}">Redefinir senha</a>
        </td>
      </tr>
    </table>
  </body>
</html>